[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = git@github.com:pacollins/hugo-future-imperfect-slim.git
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/matt9j/congo.git
	branch = stable
