<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">
        <article class="post">
            {{ $.Scratch.Set "h1" true }}
            {{ .Render "header" }}
            <div id="content">
<div class="multi-search multi-search--issue-item"><ul class="rlist "><li class="grid-item separated-block--dashed--bottom"><div class="issue-item clearfix"><div class="issue-item__citation"><div class="issue-heading">research-article</div></div><div class="issue-item__content"><h5 class="issue-item__title"><a href="https://dl.acm.org/doi/10.1145/3359201?cid=99659180407">Trust and Technology Repair Infrastructures in the Remote Rural Philippines: Navigating Urban-Rural Seams</a></h5>


          <ul class="rlist--inline loa truncate-list" title="list of authors" data-lines="2">
            <li><a href="https://dl.acm.org/profile/99659180433" title="Esther Han Beol Jang"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                                   alt="Esther Han Beol Jang profile image"/><span>Esther Han Beol Jang</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659180433">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659476629" title="Philip Garrison"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                              alt="Philip Garrison profile image"/><span>Philip Garrison</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659476629">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659480554" title="Ronel Vincent Vistal"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                                   alt="Ronel Vincent Vistal profile image"/><span>Ronel Vincent Vistal</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659480554">University of the Philippines, Quezon City, Philippines</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659481066" title="Maria Theresa D. Cunanan"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                                       alt="Maria Theresa D. Cunanan profile image"/><span>Maria Theresa D. Cunanan</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659481066">University of the Philippines, Quezon City, Philippines</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659481018" title="Maria Theresa Perez"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                                  alt="Maria Theresa Perez profile image"/><span>Maria Theresa Perez</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659481018">University of the Philippines, Quezon City, Philippines</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659040767" title="Philip Martinez"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                              alt="Philip Martinez profile image"/><span>Philip Martinez</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659040767">University of the Philippines, Quezon City, Philippines</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659180407" title="Matthew William Johnson"><img class="author-picture" src="https://dl.acm.org/do/10.1145/contrib-99659180407/rel-imgonly/profile.jpg"
                                                                                                      alt="Matthew William Johnson profile image"/><span>Matthew William Johnson</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659180407">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659480515" title="John Andrew Evangelista"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                                      alt="John Andrew Evangelista profile image"/><span>John Andrew Evangelista</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659480515">University of the Philippines, Quezon City, Philippines</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/81485643007" title="Syed Ishtiaque Ahmed"><img class="author-picture" src="https://dl.acm.org/do/10.1145/contrib-81485643007/rel-imgonly/pp1.jpg"
                                                                                                   alt="Syed Ishtiaque Ahmed profile image"/><span>Syed Ishtiaque Ahmed</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-81485643007">University of Toronto, Toronto, ON, Canada</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659223746" title="Josephine Dionisio"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                                 alt="Josephine Dionisio profile image"/><span>Josephine Dionisio</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659223746">University of the Philippines, Quezon City, Philippines</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659042530" title="Mary Claire Aguilar Barela"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                                         alt="Mary Claire Aguilar Barela profile image"/><span>Mary Claire Aguilar Barela</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659042530">University of the Philippines - Diliman, Quezon City, Philippines</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/81331494033" title="Kurtis Heimerl"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                             alt="Kurtis Heimerl profile image"/><span>Kurtis Heimerl</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-81331494033">University of Washington, Seattle, WA, USA</p></span></li>
          </ul>





          <div class="issue-item__detail"><span>November 2019</span><span class="dot-separator">pp 1-25  </span><span><a href="https://doi.org/10.1145/3359201" class="issue-item__doi  dot-separator">https://doi.org/10.1145/3359201</a></span></div><div data-lines='4' class="issue-item__abstract truncate-text"><div class="issue-item__abstract truncate-text" data-lines="4">
   	      
              <p>This paper analyzes the processes and challenges of technology repair in remote, low-income
                areas far from standard ICT repair infrastructure. Our sites of study are the fishing
                and farming villages of Dibut, Diotorin, and Dikapinisan in Aurora Province,...
              </p>
    </div></div></div></div></li><li class="grid-item separated-block--dashed--bottom"><div class="issue-item clearfix"><div class="issue-item__citation"><div class="issue-heading">research-article</div></div><div class="issue-item__content"><h5 class="issue-item__title"><a href="https://dl.acm.org/doi/10.1145/3300061.3343371?cid=99659180407">Demo: An All-in-One Community LTE Network</a></h5>


          <ul class="rlist--inline loa truncate-list" title="list of authors" data-lines="2">
            <li><a href="https://dl.acm.org/profile/99658641948" title="Spencer Sevilla"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                              alt="Spencer Sevilla profile image"/><span>Spencer Sevilla</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99658641948">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659180407" title="Matthew Johnson"><img class="author-picture" src="https://dl.acm.org/do/10.1145/contrib-99659180407/rel-imgonly/profile.jpg"
                                                                                              alt="Matthew Johnson profile image"/><span>Matthew Johnson</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659180407">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659470518" title="Pat Kosakanchit"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                              alt="Pat Kosakanchit profile image"/><span>Pat Kosakanchit</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659470518">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659472740" title="Jenny Liang"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                          alt="Jenny Liang profile image"/><span>Jenny Liang</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659472740">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/81331494033" title="Kurtis Heimerl"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                             alt="Kurtis Heimerl profile image"/><span>Kurtis Heimerl</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-81331494033">University of Washington, Seattle, WA, USA</p></span></li>
          </ul>





          <div class="issue-item__detail"><span>October 2019</span><span class="dot-separator">pp 1-3  </span><span><a href="https://doi.org/10.1145/3300061.3343371" class="issue-item__doi  dot-separator">https://doi.org/10.1145/3300061.3343371</a></span></div><div data-lines='4' class="issue-item__abstract truncate-text"><div class="issue-item__abstract truncate-text" data-lines="4">
   	      
              <p>We will introduce and demonstrate CoLTE, an all-in-one solution for LTE-based community
                networks. CoLTE is a lightweight, Internet-only LTE core network (EPC) based on OpenAirInterface.
                CoLTE is designed to facilitate the deployment and operation of ...
              </p>
    </div></div></div></div></li><li class="grid-item separated-block--dashed--bottom"><div class="issue-item clearfix"><div class="issue-item__citation"><div class="issue-heading">research-article</div></div><div class="issue-item__content"><h5 class="issue-item__title"><a href="https://dl.acm.org/doi/10.1145/3300061.3345446?cid=99659180407">Experiences: Design, Implementation, and Deployment of CoLTE, a Community LTE Solution</a></h5>


          <ul class="rlist--inline loa truncate-list" title="list of authors" data-lines="2">
            <li><a href="https://dl.acm.org/profile/99658641948" title="Spencer Sevilla"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                              alt="Spencer Sevilla profile image"/><span>Spencer Sevilla</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99658641948">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659180407" title="Matthew Johnson"><img class="author-picture" src="https://dl.acm.org/do/10.1145/contrib-99659180407/rel-imgonly/profile.jpg"
                                                                                              alt="Matthew Johnson profile image"/><span>Matthew Johnson</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659180407">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659470518" title="Pat Kosakanchit"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                              alt="Pat Kosakanchit profile image"/><span>Pat Kosakanchit</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659470518">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659472740" title="Jenny Liang"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                          alt="Jenny Liang profile image"/><span>Jenny Liang</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659472740">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/81331494033" title="Kurtis Heimerl"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                             alt="Kurtis Heimerl profile image"/><span>Kurtis Heimerl</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-81331494033">University of Washington, Seattle, WA, USA</p></span></li>
          </ul>





          <div class="issue-item__detail"><span>October 2019</span><span class="dot-separator">pp 1-16  </span><span><a href="https://doi.org/10.1145/3300061.3345446" class="issue-item__doi  dot-separator">https://doi.org/10.1145/3300061.3345446</a></span></div><div data-lines='4' class="issue-item__abstract truncate-text"><div class="issue-item__abstract truncate-text" data-lines="4">
   	      
              <p>In this paper we introduce CoLTE, a solution for LTE-based community networks. CoLTE
                is a lightweight, Internet-only LTE core network (EPC) designed to facilitate the
                deployment and operation of small-scale, community owned and operated LTE networks
                in ...
              </p>
    </div></div></div></div></li><li class="grid-item separated-block--dashed--bottom"><div class="issue-item clearfix"><div class="issue-item__citation"><div class="issue-heading">tutorial</div></div><div class="issue-item__content"><h5 class="issue-item__title"><a href="https://dl.acm.org/doi/10.1145/3286062.3286064?cid=99659180407">dLTE: Building a more WiFi-like Cellular Network: (Instead of the Other Way Around)</a></h5>


          <ul class="rlist--inline loa truncate-list" title="list of authors" data-lines="2">
            <li><a href="https://dl.acm.org/profile/99659180407" title="Matthew Johnson"><img class="author-picture" src="https://dl.acm.org/do/10.1145/contrib-99659180407/rel-imgonly/profile.jpg"
                                                                                              alt="Matthew Johnson profile image"/><span>Matthew Johnson</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659180407">Paul G. Allen School, University of Washington</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99658641948" title="Spencer Sevilla"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                              alt="Spencer Sevilla profile image"/><span>Spencer Sevilla</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99658641948">Paul G. Allen School, University of Washington</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659180433" title="Esther Jang"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                          alt="Esther Jang profile image"/><span>Esther Jang</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659180433">Paul G. Allen School, University of Washington</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/81331494033" title="Kurtis Heimerl"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                             alt="Kurtis Heimerl profile image"/><span>Kurtis Heimerl</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-81331494033">Paul G. Allen School, University of Washington</p></span></li>
          </ul>





          <div class="issue-item__detail"><span>November 2018</span><span class="dot-separator">pp 8-14  </span><span><a href="https://doi.org/10.1145/3286062.3286064" class="issue-item__doi  dot-separator">https://doi.org/10.1145/3286062.3286064</a></span></div><div data-lines='4' class="issue-item__abstract truncate-text"><div class="issue-item__abstract truncate-text" data-lines="4">
   	      
              <p>The radio interfaces and network architectures of WiFi and cellular systems are converging
                along many dimensions. While both systems are largely adopting the centralized architecture
                of traditional cellular deployments, this design comes with ...
              </p>
    </div></div></div></div></li><li class="grid-item separated-block--dashed--bottom"><div class="issue-item clearfix"><div class="issue-item__citation"><div class="issue-heading">research-article</div></div><div class="issue-item__content"><h5 class="issue-item__title"><a href="https://dl.acm.org/doi/10.1145/3173574.3173641?cid=99659180407">Crowdsourcing Rural Network Maintenance and Repair via Network Messaging</a></h5>


          <ul class="rlist--inline loa truncate-list" title="list of authors" data-lines="2">
            <li><a href="https://dl.acm.org/profile/99659180433" title="Esther Jang"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                          alt="Esther Jang profile image"/><span>Esther Jang</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659180433">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659042530" title="Mary Claire Barela"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                                 alt="Mary Claire Barela profile image"/><span>Mary Claire Barela</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659042530">University of the Philippines Diliman, Quezon City, Philippines</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659180407" title="Matt Johnson"><img class="author-picture" src="https://dl.acm.org/do/10.1145/contrib-99659180407/rel-imgonly/profile.jpg"
                                                                                           alt="Matt Johnson profile image"/><span>Matt Johnson</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659180407">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659040767" title="Philip Martinez"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                              alt="Philip Martinez profile image"/><span>Philip Martinez</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659040767">University of the Philippines Diliman, Quezon City, Philippines</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/81453655378" title="Cedric Festin"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                            alt="Cedric Festin profile image"/><span>Cedric Festin</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-81453655378">University of the Philippines Diliman, Quezon City, Philippines</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659196162" title="Margaret Lynn"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                            alt="Margaret Lynn profile image"/><span>Margaret Lynn</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659196162">Unaffiliated, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659223746" title="Josephine Dionisio"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                                 alt="Josephine Dionisio profile image"/><span>Josephine Dionisio</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659223746">University of the Philippines Diliman, Quezon City, Philippines</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/81331494033" title="Kurtis Heimerl"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                             alt="Kurtis Heimerl profile image"/><span>Kurtis Heimerl</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-81331494033">University of Washington, Seattle, USA</p></span></li>
          </ul>





          <div class="issue-item__detail"><span>April 2018</span><span class="dot-separator">pp 1-12  </span><span><a href="https://doi.org/10.1145/3173574.3173641" class="issue-item__doi  dot-separator">https://doi.org/10.1145/3173574.3173641</a></span></div><div data-lines='4' class="issue-item__abstract truncate-text"><div class="issue-item__abstract truncate-text" data-lines="4">
   	      
              <p>Repair and maintenance requirements limit the successful operation of rural infrastructure.
                Current best practices are centralized management, which requires travel from urban
                areas and is prohibitively expensive, or intensively training community ...
              </p>
    </div></div></div></div></li><li class="grid-item separated-block--dashed--bottom"><div class="issue-item clearfix"><div class="issue-item__citation"><div class="issue-heading">research-article</div></div><div class="issue-item__content"><h5 class="issue-item__title"><a href="https://dl.acm.org/doi/10.1145/3080556.3080566?cid=99659180407">Unplanned Obsolescence: Hardware and Software After Collapse</a></h5>


          <ul class="rlist--inline loa truncate-list" title="list of authors" data-lines="2">
            <li><a href="https://dl.acm.org/profile/99659180433" title="Esther Jang"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                          alt="Esther Jang profile image"/><span>Esther Jang</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659180433">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659180407" title="Matthew Johnson"><img class="author-picture" src="https://dl.acm.org/do/10.1145/contrib-99659180407/rel-imgonly/profile.jpg"
                                                                                              alt="Matthew Johnson profile image"/><span>Matthew Johnson</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659180407">University of Washington, Seattle, WA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/99659180879" title="Edward Burnell"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                             alt="Edward Burnell profile image"/><span>Edward Burnell</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-99659180879">Massachusetts Institute of Technology, Cambridge, MA, USA</p></span><span>, </span></li>
            <li><a href="https://dl.acm.org/profile/81331494033" title="Kurtis Heimerl"><img class="author-picture" src="https://dl.acm.org/pb-assets/icons/DOs/default-profile.svg"
                                                                                             alt="Kurtis Heimerl profile image"/><span>Kurtis Heimerl</span></a><span class="loa_author_inst hidden">
                <p data-doi="10.1145/contrib-81331494033">University of Washington, Seattle, WA, USA</p></span></li>
          </ul>





          <div class="issue-item__detail"><span>June 2017</span><span class="dot-separator">pp 93-101  </span><span><a href="https://doi.org/10.1145/3080556.3080566" class="issue-item__doi  dot-separator">https://doi.org/10.1145/3080556.3080566</a></span></div><div data-lines='4' class="issue-item__abstract truncate-text"><div class="issue-item__abstract truncate-text" data-lines="4">
   	      
              <p>In a setting of economic and infrastructural collapse, the inability to manufacture
                and maintain computing resources will be an enormous limitation on the continued use
                of technology. The concept of "rot" exists for both hardware and software, referring
                ...
              </p>
</div></div></div></div></li></ul></div><style>@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap');

  .multi-search {
  background: #fff;
  color: #333;
  font-family: Merriweather Sans, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  word-wrap: break-word;
  min-height: 100vh;
  padding: 0 12px;
  }

  .multi-search .issue-item__content {
  position: relative;
  }

  .multi-search h1, .multi-search h2, .multi-search h3, .multi-search h4, .multi-search h5, .multi-search h6 {
  margin-top: 0;
  margin-bottom: 15px;
  }

  .multi-search h5 {
  font-size: 16px;
  }

  .multi-search a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  }

  .multi-search img {
  border-style: none;
  max-width: 100%;
  }

  .multi-search .rlist {
  list-style: none;
  padding: 0;
  margin: 0;
  }

  .multi-search .rlist--inline {
  list-style: none;
  padding: 0;
  margin: 0;
  }

  .multi-search .rlist--inline > li {
  display: inline-block;
  }

  .multi-search .pull-left {
  float: left;
  }

  .multi-search .pull-right {
  float: right;
  }

  .multi-search .bold, .multi-search b, .multi-search strong {
  font-weight: 600;
  }

  .multi-search .visibility-hidden {
  height: 0;
  display: inline-block;
  visibility: hidden;
  position: absolute;
  left: -999em;
  }

  .multi-search .get-access {
  background-color: #5aab00;
  color: #fff;
  font-size: 14px;
  padding: 7px 22px 8px 23px;
  margin: 0 5px;
  border-radius: 2px;
  }

  .multi-search .loa {
  margin: 0 0 10px;
  font-size: 14px;
  color: #757575;
  }

  .multi-search .loa li {
  line-height: 32px;
  }

  .multi-search .loa a:hover {
  color: #5c5c5c;
  }

  .multi-search .author-picture {
  margin-right: 5px;
  vertical-align: middle;
  height: 24px;
  box-sizing: content-box;
  border-radius: 50%;
  }

  .multi-search .loa img {
  filter: grayscale(100%);
  transition: all 200ms ease-in-out;
  }

  .multi-search .loa a:hover img {
  filter: grayscale(0);
  }

  .multi-search .author-picture.author-picture {
  width: 24px;
  padding-right: 0;
  }

  .multi-search .issue-item__detail {
  color: #757575;
  margin: 10px 0;
  }


  .multi-search .dot-separator:before {
  content: '•';
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 600;
  font-size: 19px;
  vertical-align: middle;
  }

  .multi-search .issue-item__abstract {
  margin-bottom: 10px;
  }


  .multi-search .issue-item__title {
  color: #2189ca;
  font-weight: 500;
  font-family: Merriweather, serif;
  margin-bottom: 10px;
  }

  .multi-search .issue-item {
  font-size: 14px;
  margin-top: 15px;
  padding: 15px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, .1);
  background: #fff;
  word-break: break-word;
  padding-bottom: 50px;
  }

  .multi-search .issue-item__citation {
  margin-bottom: 15px;
  vertical-align: top;
  font-size: 12px;
  text-transform: uppercase;
  }

  .multi-search .issue-item__citation .issue-heading {
  margin-right: 10px;
  font-weight: 600;
  }

  .multi-search .open-access {
  color: orange;
  }

  .multi-search .free-access {
  color: green;
  }

  .multi-search .no-access {
  color: red;
  }

  .multi-search .clearfix:after,
  .multi-search .section__separator:after,
  .multi-search .separated-block:after,
  .multi-search .card--dark:after,
  .multi-search .alert__format:after,
  .multi-search .events-browse__list-labels:after,
  .multi-search .latest-proceeding__info:after {
  clear: both;
  content: " ";
  display: table;
  }

  .multi-search .btn {
  background-color: #333;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  clear: both;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
  border: none;
  margin: 0 3px;
  cursor: pointer;
  }

  .multi-search .btn.blue {
  color: #fff;
  background-color: #2189ca;
  }


  .multi-search .btn.red {
  color: #fff;
  background: #eb5757;
  }

  .multi-search .btn--icon,
  .multi-search .btn--icon--dark {
  margin: 0 3px;
  color: #757575;
  font-size: 17px;
  background: #f0f0f0;
  border-radius: 2px;
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;
  }


  .multi-search [class*=simple-tooltip] {
  position: relative;
  display: inline-block;
  }

  .multi-search .tooltip:hover .tooltip__body {
  border: none;
  top: 25px;
  left: 0;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
  opacity: 1;
  visibility: visible;
  }

  .multi-search .issue-item__citation {
  display: none;
  }

  .multi-search .bibliometrics-iframe {
  position: absolute;
  border: 0;
  z-index: 10;
  width: 100% !important;
  height: 45px !important;
  }

  .multi-search .hidden {
  display: none !important;
  }</style>
                {{ .Content }}
            </div>
        </article>
      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
  </body>
</html>





